table.wp-list-table.companies{

  th#name {
    width: 200px;
  }

  td.column-phone {
    width: max-content;
  }
}

.more-actions:after {
  content: "\f347";
  display: inline-block;
  font: normal 18px / 1 dashicons;
  vertical-align: middle;
  margin-left: 5px;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
